
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: rgb(255, 0, 89);
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;

    --background: white;
    --primary-light: #E6E5FF;
    --secondary: #DFE6EE;
    --secondary-background: #F4F6F9;
    --secondary-text: #2E5A8C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body{
    background: var(--grey);
    overflow-x: hidden;
}

/* Side Bar */

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 60px;
}

.sidebar .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: black/var(--primary)/;
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
    max-width: 100px;
}

.sidebar .logo .logo-name{
    position: absolute;
    left: 10px;
}

.sidebar .logo .logo-name span{
    color: crimson;
}

.sidebar .logo .bx{
    min-width: 60px;
    max-width:60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active{
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active a{
    color: var(--success);
}

.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout{
    color: var(--danger);
}
.sidebar.close~.content{
    width: calc(100% - 60px);
    left: 60px;
}

/* End OF Side Bar */

/* Content */
.content{
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

/* Nav bar */
.content nav{
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a{
    color: var(--dark);
}

.content nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
}

.content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.content nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.content nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline:none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.content nav .notif{
    font-size: 20px;
    position: relative;
}


.content nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.content nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background-color: var(--secondary-background);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

/* Main */
.main{
    position:relative;
    padding: 20px;
    width: 100%;
}
.main-top1{
    margin: 1.5rem;
    display:flex;
    width: 100%;
}
.main-top1 i{
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
}
.main-top1 h2{
    margin: 0px 20px;
}
.main-skills{
    display:flex;
    margin-top: 20px;
}
.main-skills .card{
    width: 25%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .card h3{
    margin: 10px;
    text-transform: capitalize;
}
.main-skills .card p{
    font-size: 12px;
}
.main-skills .card button{
    background: rgb(0, 0, 0);
    color: #ff0000;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.main-skills .card button:hover{
    background: rgba(223, 70, 15, 0.856);
}
.main-skills .card i{
    font-size: 22px;
    padding: 10px;
}

.history_lists{
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0rem;
    padding-left: 25%;
}
table{
    margin : 30px;
    background: #fff;
    padding: 4rem;
    text-align: left;
    border-radius: 15px;
    width: 95%;
}
table td, th{
    padding: 0.8rem 0.8rem;
}
table th{
    font-size: 15px;
}
table td{
    font-size: 13px;
    color: rgb(47, 47, 47);
}

/* Setting Form Aff */
.setting-section{
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
    min-height: 47rem;
}
table.setting-table{
    margin-top: 4rem;
    margin-left: 5rem;
}

.lab-set{
    position: relative;
    color: black;

}

.set-button{
    color: wheat;
    position:absolute;
    right: 5rem;
    bottom: 9rem;
    min-width: 15rem;
    min-height: 3rem;
    background-color: crimson;
    border: 0;
    border-radius: 10rem;
}
.set-button p{
    padding-left: 40%;
    padding-top: 5%;
}

.set-button:hover{
    background-color: transparent;
    color: black;
    cursor: pointer;
    border-style:solid ;
    border-width: 3px;
    border-color:crimson ;
}

.pswd-button{
    color: wheat;
    position:absolute;
    right: 5rem;
    bottom: 10rem;
    min-width: 15rem;
    min-height: 3rem;
    background-color: crimson;
    border: 0;
    border-radius: 2rem;
}
.pswd-button p{
    padding-left: 13%;
    padding-top: 5%;
}

.pswd-button:hover{
    background-color: transparent;
    color: black;
    cursor: pointer;
    border-style:solid ;
    border-width: 3px;
    border-color:crimson ;
}

/* End Setting Form Aff */


/* setting change form */
.sett-rtable
{
    border: 0;
    position: absolute;
    right: 8rem;
    top: 3.3rem;
}
.sett-ltable{
    margin-top: 2rem;
    margin-left: 2rem;
}
.sett-ltable td,.sett-rtable td{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sett-buttom{
    position: relative;
    left: 18rem;
    top: 4rem;
    width: 80%;
}
.sett-submit{
    background-color: crimson;
    border-radius: 2rem;
    border: 0;
    margin-top: 1rem;
    margin-left:10% ;
    width: 9rem;
    height: 3rem;
}
.sett-submit:hover{
    background-color: transparent;
    color: crimson;
    border-style: solid;
    border-width:2px ;
    border-color: crimson;
    cursor: pointer;
}

.update-sett-valid, .update-sett-invalid{
    position: relative;
    font-weight:bold;
    left: 12rem;
    top:5rem ;
}
.update-sett-valid{
    color: var(--success);
}
.update-sett-invalid{
    color: var(--danger);
}
/* end setting change form */

/* Change Password */
.change-pass-table{
    position:absolute;
    top: 5rem;
    left: 22rem;
}

.change-pass-table td{
    padding-top: 4rem;
}

.change-pass-table .change-pass-input{
    padding-left: 1rem;
}

.change-pass-button{
    position: relative;
    top: 22rem;
    left: 24rem;
    background-color: crimson;
    border-radius: 3rem;
    border: 0;
    margin-top: 4rem;
    margin-left:10% ;
    width: 9rem;
    height: 3rem;
}

.change-pass-button:hover{
    background-color: transparent;
    color: crimson;
    border-style: solid;
    border-width:2px ;
    border-color: crimson;
    cursor: pointer;
}
.update-passw-valid{
    font-weight: bold;
    color: var(--success);
    position: relative;
    left: 30%;
    top: 18rem;
}

.update-passw-invalid{
    font-weight: bold;
    color: var(--danger);
    position: relative;
    left: 30%;
    top: 17rem;
}
/* End Changement ed password */

/*Plus d'information sur service:*/
.main-top2 h2{
    margin: 0px 20px;
}
.historique{
    width: 100%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}

.historique h5{
    font-weight: 600;
    font-size: 14px;
}

.historique p {
    font-weight: 400;
    font-size: 13px;
    color:#787d8d;
}

.historique .people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

table{
    border-collapse:collapse ;
}

tr{
    border-bottom: 1px solid #eef0f3;
}
thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight:400 ;
    background: #F9FAF8;
    text-align:start ;
    padding: 15px;
}

tbody tr td {
    padding: 15px 15px;
}

.active p{
    background:#d7fada ;
    padding: 2px 10px;
    display:inline-block ;
    border-radius: 40px;
    color: #2b2b2b;;
}
.historique .add button{
    background: orangered;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.historique .add button:hover{
    background: rgba(223, 70, 15, 0.856);
}

tbody td a{
    font-weight: 600;
    font-size: 14px;
    color:rgb(81, 26, 81);
    font-family: inherit;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-decoration: none;
    text-transform: capitalize;
}
tbody td a:focus,
tbody td a:hover {
    color: var(--primary);
}

tbody td a:focus:after,
tbody td a:hover:after{
    width: 100%;
    left: 0%;
}

tbody td a:after {
    content: "";
    pointer-events: none;
    bottom: -1px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--primary);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

  