<!DOCTYPE html>
<html lang="en" >
<head>
   <meta charset="UTF-8">
   <title>SwiftSender</title>
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
   <link rel="stylesheet" href="../CSS/styleLog2.css">
   <link rel="shortcut icon" href="img/logo.png">
   <link rel="stylesheet" href="../static/CSS/styleLog2.css">
   <link rel="stylesheet" href="styleLog2.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
   <section id="formHolder">

      <div class="row">

         <!-- Brand Box -->
         <div class="col-sm-6 brand">
            <a href="/" class="logo">
               <h1><span>S</span>wift<span>S</span>ender</h1>
            </a>

            <div class="heading">
               <img src="../img/logo.png" style="height: 150px;">
               <p>Your Right Choice</p>
            </div>

            <div class="failed-msg">
               <p th:text="${message}"></p>
            </div>
         </div>


         <!-- Form Box -->
         <div class="col-sm-6 form">

            <!-- Login Form -->
            <div class="login form-peice">
               <form class="login-form" action="/login" method="post" th:object="${connect}">
                  <div class="form-group">
                     <label for="loginemail">Email Adderss</label>
                     <input type="email" name="email" id="loginemail" required>
                  </div>

                  <div class="form-group">
                     <label for="loginPassword">Password</label>
                     <input type="password" name="password" id="loginPassword" required>
                  </div>

                  <div class="CTA">
                     <input type="submit" value="LOG IN">
                     <a href="/signup" class="switch">s'inscrire</a>
                  </div>
               </form>
            </div><!-- End Login Form -->
         </div>
      </div>

   </section>

</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script  src="../JS/log.js"></script>
</body>
</html>
