<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>-->
    <link rel="shortcut icon" href="../img/logo.png">
    <link rel="stylesheet" href="../CSS/Conducteurstyle.css">
    <!--<link rel="stylesheet" href="../static/CSS/clientStyle.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>Home</title>
</head>

<body>

<!-- Sidebar -->
<div class="sidebar">
    <a href="/conducteur" class="logo">
        <div class="logo-name" id="logo-name"><span>S</span>wift<span>S</span>ender</div>
    </a>
    <ul class="side-menu">
        <li class="active"><a href="/conducteur"><i class='bx bxs-dashboard'></i>Home</a></li>
        <li><a href="/conducteur/service"><i class='bx bx-store-alt'></i>Service</a></li>
        <!--<li ><a href="#"><i class='bx bx-analyse'></i>Analytics</a></li>
        <li><a href="#"><i class='bx bx-message-square-dots'></i>Tickets</a></li>
        <li><a href="#"><i class='bx bx-group'></i>Users</a></li>-->
        <li><a href="/conducteur/setting"><i class='bx bx-cog'></i>Settings</a></li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="/" class="logout">
                <i class='bx bx-log-out-circle'></i>
                Logout
            </a>
        </li>
    </ul>
</div>
<!-- End of Sidebar -->
<!-- Main Content -->
<div class="content">
    <!-- Navbar -->
    <nav>
        <i class='bx bx-menu'></i>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search...">
                <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
            </div>
        </form>
        <input type="checkbox" id="theme-toggle" hidden>
        <label for="theme-toggle" class="theme-toggle"></label>
        <a href="" class="text-dark">
            <i class="fas fa-regular fa-bell" ></i>
        </a>
        <a href="#" class="profile">
            <img src="../img/logo.png">
        </a>
    </nav>
    <!-- End of Navbar -->
    <section class="main1">
        <div class="main-top1">
            <h2>Dashboard :</h2>
        </div>
        <div class="main-skills">
            <div class="card">
                <i class="fas fa-solid fa-briefcase"></i>
                <h3>Services Actives</h3>
                <p>Le nombre totales des services</p>
                <button th:text="${nbrServiceTotales}"></button>
            </div>
            <div class="card">
                <i class="fas fa-solid fa-briefcase"></i>
                <h3>Services d'Interieur</h3>
                <p>nbrs Serv dans la ville par mois</p>
                <button th:text="${nbrServInVilleParMois}"></button>
            </div>
            <div class="card">
                <i class="fas fa-solid fa-briefcase"></i>
                <h3>Services d'Exterieur</h3>
                <p>nbrs Serv dehors la ville par mois</p>
                <button th:text="${nbrServOutVilleParMois}"></button>
            </div>
            <div class="card">
                <i class="fas fa-solid fa-coins"></i>
                <h3>solde</h3>
                <p>Le solde durent un mois</p>
                <button th:text="${salaire}"></button>
            </div>
        </div>
        <div class="history_lists">
            <div class="list2">
                <div class="row">
                    <h4>Choix : Dans la ville</h4>
                </div>
                <table>
                    <thead>
                    <tr >
                        <th >Id</th>
                        <th>Ville Dest</th>
                        <th>Information</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="service : ${servicesInVille}">
                        <td th:text="${service.serviceEntity.num_service}">1</td>
                        <td th:text="${service.serviceEntity.villeDest}">Camion</td>
                        <td><a th:href=@{'/conducteur/serviceIn/'+${service.serviceEntity.num_service}}>Plus d'Info..</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="list1">
                <div class="row">
                    <h4>Historique des services </h4>
                    <a href="/conducteur/service">Voir plus..</a>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Dates</th>
                        <th>Dans Ville</th>
                        <th>Vehicule</th>
                        <th>Client</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="service : ${services}">
                        <td th:text="${service.serviceEntity.num_service}"></td>
                        <td th:text="${service.serviceEntity.dateService}"></td>
                        <td th:text="${service.serviceEntity.dansLaVille}"></td>
                        <td th:text="${service.serviceEntity.typeVehicule}"></td>
                        <td th:text="${service.serviceEntity.clientEntity.nom}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="list2">
                <div class="row">
                    <h4>Choix : Dehors la ville</h4>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Ville Desti</th>
                        <th>Information</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="service : ${servicesOutVille}">
                        <td th:text="${service.serviceEntity.num_service}"></td>
                        <td th:text="${service.serviceEntity.villeDest}"></td>
                        <td><a th:href=@{'/conducteur/serviceOut/'+${service.serviceEntity.num_service}}>Plus d'Info..</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

</section>

</div>

<script src="../JS/conducteur.js"></script>
</body>
</html>